* {
  margin: 0px;
  padding: 0px;
  color: #8d8f8e;
}

html,
body {
  min-height: 100%;
}

.header {
  padding-top: 5px;
  border-bottom: 1px solid #dfe1e5;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1%;
}
.menu__logo {
  position: relative;
  padding-left: 5px;
  height: 30px;
  width: 92px;
  cursor: pointer;
}
@media (max-width: 900px) {
  .menu__logo {
    width: 51px;
    height: 16px;
    padding-left: 3px;
  }
}
@media (max-width: 460px) {
  .menu__logo {
    width: 0px;
    height: 0px;
    padding-left: 3px;
  }
}

.input {
  display: flex;
  width: 30%;
  margin-left: 35px;
  align-items: center;
  border-radius: 24px;
  border: 1px solid #dfe1e5;
  height: 44px;
  width: 690px;
}
.input__text {
  border: none;
  margin-left: 3%;
  font-size: 17px;
  width: 100%;
  height: 100%;
  color: #000000;
  align-self: center;
  outline: none;
}
@media (max-width: 900px) {
  .input {
    margin-left: 5%;
  }
  .input__text {
    margin-left: 15px;
  }
}

.input:hover {
  box-shadow: 2px 2px 10px 0px #dfe1e5;
}

.search-botton {
  display: flex;
  align-items: center;
  float: right;
  margin-left: auto;
}
.search-botton__icon-keyboard {
  width: 20px;
}
.search-botton__icon-search {
  height: 24px;
  width: 24px;
  fill: #4D8CF5;
}
.search-botton__icon-voice {
  height: 24px;
}
@media (max-width: 900px) {
  .search-botton__icon-keyboard {
    height: 0px;
    width: 0px;
  }
  .search-botton__icon-search {
    height: 17px;
  }
  .search-botton__icon-voice {
    height: 17px;
  }
}

.icon {
  padding-right: 20px;
  cursor: pointer;
}
@media (max-width: 900px) {
  .icon {
    padding-right: 10px;
  }
}

.account-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
}
.account-button__account-settings {
  height: 24px;
  width: 24px;
  fill: #8d8f8e;
}
@media (max-width: 900px) {
  .account-button__account-settings {
    margin-left: 10px;
    height: 20px;
    width: 10px;
  }
}
.account-button__account-settings:hover {
  fill: #4D8CF5;
}
.account-button__account-avatar {
  margin: 0 10px 0 10px;
  height: 30px;
  border-radius: 30px;
}
@media (max-width: 900px) {
  .account-button__account-avatar {
    align-self: flex-end;
    height: 17px;
  }
}
.account-button__account-avatar:hover {
  box-shadow: 1px 0px 2px #8d8f8e;
  cursor: pointer;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  padding: 0px 0px 0px 160px;
  align-content: center;
  color: #828282;
}
.nav-menu__button {
  align-self: start;
  height: 30px;
  padding-right: 20px;
  font-size: 14px;
  cursor: pointer;
  outline-width: 0;
}
@media (max-width: 900px) {
  .nav-menu {
    padding: 0px 0px 0px 125px;
  }
  .nav-menu__button {
    font-size: 0px;
    padding-top: 40px;
    padding-right: 1%;
    padding: 0px 0px 0px;
  }
}
@media (max-width: 400px) {
  .nav-menu {
    padding: 0px 0px 0px 100px;
  }
}
@media (max-width: 460px) {
  .nav-menu {
    padding-left: 50px;
  }
}

.right-button {
  display: flex;
  flex-direction: row;
  align-self: start;
  margin-left: 20px;
  font-size: 14px;
}
.right-button__settings {
  margin-right: 15px;
  cursor: pointer;
}
.right-button__settings:hover {
  color: #4D8CF5;
}
.right-button__settings-img {
  height: 0px;
  width: 0px;
  cursor: pointer;
}
.right-button__settings-img:hover {
  fill: #4D8CF5;
}
.right-button__tools {
  color: #828282;
  background-color: #ffffff;
  padding-top: 5px;
  margin-top: 1px;
  border: none;
  padding: 0px 5px 0px 5px;
}
.right-button__tools:hover {
  border: 1px solid #dfe1e5;
  align-self: start;
  outline: none;
}
@media (max-width: 1100px) {
  .right-button {
    align-self: start;
    padding-top: 4px;
    margin-left: 1px;
  }
  .right-button__settings {
    font-size: 8px;
  }
  .right-button__tools {
    font-size: 8px;
  }
}
@media (max-width: 440px) {
  .right-button__settings {
    font-size: 0px;
    margin-right: 0px;
  }
  .right-button__settings-img {
    height: 24px;
    width: 24px;
    fill: #8d8f8e;
  }
  .right-button__tools {
    font-size: 6px;
    padding-left: 0px;
    margin-left: 0px;
  }
}
@media (max-width: 365px) {
  .right-button__tools {
    font-size: 0px;
    padding: 0px;
    margin: 0px;
  }
}

.nav-menu__button-all {
  border-bottom: 4px solid #4D8CF5;
  color: #1A73E8;
}
.nav-menu__button-all .nav-menu__button-all-a {
  fill: #34A853;
}
.nav-menu__button-all .nav-menu__button-all-b {
  fill: #EA4335;
}
.nav-menu__button-all .nav-menu__button-all-c {
  fill: #FBBC04;
}
.nav-menu__button-all .nav-menu__button-all-d {
  fill: #4285F4;
}

.map-button {
  fill: #0000007d;
  float: left;
  padding-right: 5px;
  height: 17px;
}
@media (max-width: 390px) {
  .map-button {
    height: 30%;
    height: 15px;
  }
}

.text {
  margin-top: 10px;
  margin-left: 160px;
}
@media (max-width: 900px) {
  .text {
    font-size: 10px;
    margin-left: 125px;
  }
}
@media (max-width: 460px) {
  .text {
    margin-left: 50px;
  }
}

.content {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 160px;
  margin-right: 160px;
  height: 100%;
}
@media (max-width: 900px) {
  .content {
    margin-left: 125px;
  }
}
@media (max-width: 460px) {
  .content {
    margin-left: 50px;
  }
}
.content__right-post {
  margin-left: 50px;
  border: 1px solid #8d8f8e;
}

.result {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.result__left-post {
  border: 1px solid #8d8f8e;
}

/*# sourceMappingURL=style.css.map */
